article {
    margin-right: 7%;
    margin-left: 7%;
}

h1, h2, h3 {
    display: inline-block;
    font-size: x-large;
}

select {
    background: white;
    font-size: 1rem;
    height: 2.25rem;
    margin-left: 1rem;
}

label {
    font-size: larger;
    font-weight: 700;
    margin-left: 20px;
}

#img {
    border-radius: 5px;
    max-height: 300pt;
    float: left;
    margin-top: 1rem;
    margin-right: 1rem;
}

.palette_text {
    max-height: 20%;
}

.share {
    margin-left: 2px;
    width: 1.2rem;
    height: 1.2rem;
    padding: 0.5rem;
    float: right;
    margin-top: 1rem;
    border: solid 1px #aeaeae;
    border-radius: 3rem;
}

.share:hover {
    margin-top: 0.9rem;
}

.logo {
    color: #e15b5a;
    font-weight: bold;
}

.submit {
    display: inline-block;
    background: #e96562;
    font-weight: normal;
    text-align: center;
    cursor: pointer;
    color: white;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 3px;
    margin-left: 30px;
}

.submit:hover {
    background: #d65d5a;
}

.submit:disabled {
    background: #ffdbd4;
}

label.file input[type="file"] {
    position: fixed;
    top: -1000px;
}

.file {
    display: inline-block;
    border: 2px dashed #acacac;
    border-radius: 3px;
    padding: 0.5rem;
}

.file span:hover {
    color: #e96562;
}

#text {
    display: inline-block;
    margin-top: 1rem;
    font-size: 10px;
    line-height: 12px;
}

#error {
    background: #fff0ed;
    color: #d65d5a;
    padding: 0.5rem;
    border-radius: 3px;
    display: none;
    box-shadow: inset 0 0 1px #f68784;
}

.form {
    border-radius: 3px;
    padding: 0.75rem;
    box-shadow: inset 0 0 2px #a3a3a3;
}

.form div, #palette_text {
    display: inline-block;
}