{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <script src="/static/vendor/js/bootstrap-filestyle.min.js"></script>
    <script src="/static/vendor/js/html2canvas.js"></script>
    <script src="/static/js/main.js"></script>
    <style>
        .share {
            width: 20px;
            height: 20px;
        }

        .share:hover {
            margin-top: -7px;
        }
    </style>
{% endblock %}
{% block content %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/"><img href="." alt="Brand"
                                 style="height: 25px; margin-top: 10px"
                                 src="/static/img/logo.png"></a>
            </div>
            <div class="collapse navbar-collapse"
                 id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a onclick="share('vk')">
                            <img class="share" src="/static/img/vk.png"></a>
                    </li>
                    <li>
                        <a onclick="share('fb')">
                            <img class="share" src="/static/img/fb.png"></a>
                    </li>
                    <li>
                        <a onclick="share('tw')">
                            <img class="share" src="/static/img/tw.png"></a>
                    </li>
                    <li class="dropdown">
                        <a class="nav-link dropdown-toggle"
                           data-toggle="dropdown">
                            {{ (g.lang_code or config['BABEL_DEFAULT_LOCALE']) }}
                        </a>
                        <ul class="dropdown-menu"
                            aria-labelledby="navbarDropdownMenuLink">
                            {% for lang_code, lang in config.SUPPORTED_LANGUAGES.items() %}
                                {% if  (g.lang_code or config['BABEL_DEFAULT_LOCALE'])!=lang_code %}
                                    <li><a href="/{{ lang_code }}/{% if id %}{{ id }}/{% endif %}"><span
                                            class="flag flag-{{ lang_code }}"></span> {{ lang }}
                                    </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
        <h4>{{ _('Tool for generating ANSI pictures from images') }}</h4>
        <form class="form-inline well" style="margin: 10px"
              action="/{{ g.lang_code + '/' if g.lang_code  or "" }}"
              id="main"
              method="POST"
              enctype="multipart/form-data">
            <div class="form-group">
                <label>{{ _('Upload file') }}: (.jpg, .png, .jpeg)</label>
                <input id="file" type="file" class="filestyle" name="file"
                       data-buttonText="">
            </div>
            <div class="form-group">
                <label for="sel1">{{ _('Size') }}</label>
                <select class="form-control" id="sel1" name="size">
                    {% for opt_name, opt_value in sizes %}
                        <option value="{{ opt_value }}">{{ _(opt_name) }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="sel2">{{ _('Palette') }}</label>
                <select class="form-control" id="sel2" name="palette">
                    {% for opt in palettes %}
                        <option {% if opt == 'Default' %}selected{% endif %}>{{ _(opt) }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="inv" data-toggle="tooltip"
                       title="{{ _('White symbols on the dark background') }}">{{ _('Inverse') }}</label>
                <input id="inv" type="checkbox" name="inverse" checked>
            </div>
            <input class="btn btn-danger" type="submit"
                   value="{{ _('Create') }}!"
                   style="margin-left: 20px"/>
        </form>
        <div class="container"><img id="img" src="#"
                                    style="visibility: hidden; width: 150pt"
                                    alt="{{ _('Error, not image') }}"/></div>

        <div class="container">
            {% if image and inverse %}
                <h4>{{ _('Link to this picture') }}<a target="_blank" href=".">
                    {{ _('here') }}</a></h4>
                <pre id="picture"
                     style=" font-size: x-small;background: black; color: white;display: inline-block">{{ image }}</pre>
            {% endif %}
            {% if image and not inverse %}
                <h4>{{ _('Link to this picture') }}<a target="_blank"
                                                      href="."> {{ _('here') }}</a>
                </h4>
                <pre id="picture"
                     style="font-size: x-small;display: inline-block">{{ image }}</pre>
            {% endif %}
        </div>
        {% if error %}
            <div class="alert alert-danger">
                <strong>{{ _('Error') }}!</strong> {{ _(error) }}
            </div>
        {% endif %}
    </div>
{% endblock %}