<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ANSI ART</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/"> <img href="/" alt="Brand"
                              style="height: 25px; margin-top: 10px"
                              src="/static/logo.png"></a>
            </a>
        </div>
    </div>
</nav>
<div class="container">
    <form class="form-inline well" style="margin: 10px" action="/upload"
          id="main"
          method="POST"
          enctype="multipart/form-data">
        <h4>Upload file: (.jpg, .png, .jpeg)</h4>
        <span class="btn btn-default btn-file"><input type="file" name="file"></span>
        <div class="form-group">
            <label for="sel1">Size</label>
            <select class="form-control" id="sel1" name="size">
                {% for opt_name, opt_value in sizes %}
                    <option value="{{ opt_value }}">{{ opt_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="sel2">Palette</label>
            <select class="form-control" id="sel2" name="palette">
                {% for opt in palettes %}
                    <option>{{ opt }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="inv" data-toggle="tooltip"
                   title="White symbols on the dark background">Inverse</label>
            <input id="inv" type="checkbox" name="inverse" checked>
        </div>
        <input class="btn btn-danger" type="submit"
               style="margin-left: 20px"/>
    </form>

    <div class="container">
        {% if image and inverse %}
            <h4>Link to this picture<a target="_blank"
                                       href="{{ "view/" + link + "?i=true" }}">
                here</a></h4>
            <pre style=" font-size: x-small;background: black; color: white">{{ image }}</pre>
        {% endif %}
        {% if image and not inverse %}
            <h4>Link to this picture<a target="_blank"
                                       href="{{ "view/" + link }}"> here</a></h4>
            <pre style="font-size: x-small">{{ image }}</pre>
        {% endif %}
    </div>
    {% if error %}
        <div class="alert alert-danger">
            <strong>Error!</strong> {{ error }}
        </div>
    {% endif %}
</div>
</body>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
</html>