<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ANSI ART</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap-filestyle.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/"> <img href="/" alt="Brand"
                              style="height: 25px; margin-top: 10px"
                              src="/static/logo.png"></a>
        </div>
        <div class="collapse navbar-collapse"
             id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-expanded="false">Рус</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/">Eng</a></li>
                        <li><a href="/ua">Укр</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container">
    <h4>Инструмент для создание ANSI картинок</h4>
    <form class="form-inline well" style="margin: 10px" action="/ua/upload"
          id="main"
          method="POST"
          enctype="multipart/form-data">
        <div class="form-group">
            <label>Загрузить файл: (.jpg, .png, .jpeg)</label>
            <input type="file" class="filestyle" name="file"
                   data-buttonText="">
        </div>
        <div class="form-group">
            <label for="sel1">Размер</label>
            <select class="form-control" id="sel1" name="size">
                {% for opt_name, opt_value in sizes %}
                    <option value="{{ opt_value }}">{{ opt_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="sel2">Палитра</label>
            <select class="form-control" id="sel2" name="palette">
                {% for opt in palettes %}
                    <option {% if opt == 'Default' %}selected{% endif %}>{{ opt }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="inv" data-toggle="tooltip"
                   title="Білі символи на чорному фоні">Инверсия</label>
            <input id="inv" type="checkbox" name="inverse" checked>
        </div>
        <input class="btn btn-danger" type="submit" value="Создать!"
               style="margin-left: 20px">
    </form>

    <div class="container">
        {% if image and inverse %}
            <h4>Ссылка на картинк <a target="_blank"
                                     href="{{ "view/" + link + "?i=true" }}">
                ТУТ</a></h4>
            <pre style=" font-size: x-small;background: black; color: white">{{ image }}</pre>
        {% endif %}
        {% if image and not inverse %}
            <h4>Ссылка на картинку <a target="_blank"
                                      href="{{ "view/" + link }}"> ТУТ</a>
            </h4>
            <pre style="font-size: x-small">{{ image }}</pre>
        {% endif %}
    </div>
    {% if error %}
        <div class="alert alert-danger">
            <strong>Ошибка!</strong> Невозможно создать картинку, проверьте
            исходное изображение!
        </div>
    {% endif %}
</div>
</body>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
</html>