<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ANSI ART</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    {% if image and inverse %}
        <pre style=" font-size: x-small;background: black; color: white">{{ image }}</pre>
    {% endif %}
    {% if image and not inverse %}
        <pre style="font-size: x-small">{{ image }}</pre>
    {% endif %}
</div>
</body>
</html>