{% extends "base.html" %}
{% block title %}View{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class="container">
        <h4>{{ _('Picture created at') }}
            <a class="btn btn-danger"
               href="/">ansiart.online</a>
        </h4>
        {% if image and inverse %}
            <pre style=" font-size: x-small;background: black; color: white">{{ image }}</pre>
        {% endif %}
        {% if image and not inverse %}
            <pre style="font-size: x-small">{{ image }}</pre>
        {% endif %}
    </div>
{% endblock %}